.card {
    background-color: white;
    margin: 2rem;
    max-width: 800px;
}

.card-subtitle {
    font-size: 1em;
}

.card-actions {
    padding: 16px;
    justify-content: space-between;
}

.header-image {
    background-image: url('/assets/avatar.png');
}

.header-image:hover {
    cursor: pointer;
}

.header-profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    backdrop-filter: blur(6px);
}

.profile-picture {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.username-title:hover {
    cursor: pointer;
}

.favorite-icon {
    color: palevioletred;
}

.liked {
    color: crimson;
}

.countOfAllLikes {
    display: inline;
    position: absolute;
    font-size: 0.8em;
    margin: 0;
    bottom: 2rem;
}

.mat-badge-content {
    background: none;
}

.comment-button {
    display: flex;
}