.app-title {
    width: 100%;
    text-align: center;
}

.logo {
    height: 1em;
}

.feed-header {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.search-icon {
    position: fixed;
    right: 1.4em;
    top: 1em;
    transform: scale(1.4);
}