.feed {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.content-container {
    margin: auto;
}

.sorting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem;
}

.sorting-buttons {
    display: flex;
    align-items: center;
}

.sorting button {
    margin-left: 8px;
}

.bot-post-message {
    background-color: #f1f1f1;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    border-radius: 5px;
}

.current-sort {
    text-align: center;
    font-weight: bold;
}

/*.feed-header {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    height: 100%;
    width: 100%;
}*/

.app-title {
    width: 100%;
    text-align: center;
}

.logo {
    height: 1em;
}

.card {
    background-color: white;
    margin: 2rem;
}

.header-image {
    background-image: url('/assets/avatar.png');
}

.profile-picture {
    width: 4rem;
    height: 4rem;
}

.footer-placeholder {
    min-height: 6rem;
}