h4, h3, p {
    color: black;
}

.card {
    background-color: white;
    padding: 2rem;
    width: 50rem;
}

.card-content {
    padding: 0;
}

.card-actions {
    padding: 0;
    justify-content: space-between;
}

.text-field {
    background: none;
}

.header-image {
    background-image: url('/assets/avatar.png');
}

.profile-picture {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.comment-section {
    display: flex;
    flex-wrap: wrap;
    max-height: 10rem;
}

.comment-section > span {
    flex: 50%;
}

.comment {
    width: 100%;
    margin-bottom: 0.125rem;
}

.comment > h4, p {
    margin: 0;
    display: inline;
}