image-cropper {
    display: flex;
    border: 2px dashed red; /* Give it a visible border temporarily */
    height: 100%; /* Maintain aspect ratio */
}

.mat-tab-body-wrapper {
    padding: 2rem;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    flex-shrink: 0;
    margin-bottom: 16px;
    object-fit: cover;
}

.profile-picture:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.user-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.user-posts {
    min-width: 100%;
}

.content-container {
    margin: auto;
    max-width: 800px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.footer-placeholder {
    min-height: 2rem;
}

.edit-icon {
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background */
    border-radius: 50%; /* Optional: Make the background circular */
    padding: 5px; /* Optional: Add padding around the icon */
}